//---------------- colors ------------------
$color-main: #6600cc;
$color-text: #444;
$color-text-inverse: #f1f1f1;
//---------------- fonts ------------------
$font-main: 'Open Sans',
sans-serif;
$font-secondary:'Roboto',
sans-serif;